*{
	box-sizing: border-box;
}
body{
	background-color: #f2f2f2;
}
.header{
	width: 100%;
	height: 400px;
	background: url('../img/header1.jpg');
	background-position: center;
	background-size: cover;

}
.header_bottom{
	width: 1140px;
	height: 202px;
	padding-top:120px; 
	margin: 0 auto;
}
.header_title{
	width: 1140px;
	height: 70px;
	position: absolute;
	padding-bottom: 30px;
}
.header_title h1{
	width: 1140px;
	height: 70px;
	font-size: 48px;
	font-weight: bold;
	font-family:"ff-tisa-web-pro-1";
	line-height: 1.1;
	text-align: center;
	color: #fff;
	position: absolute;
	margin: 20px 0px 10px 0px;
}
.header_name{
	width: 1140px;
	height: 37px;
	padding-top: 80px;
	padding-bottom: 45px;
}
.header_name h1{
	width: 1140px;
	height: 37px;
	font-size: 34px;
	font-weight: 100;
	color: #fff;
	text-align: center;
	line-height: 37px;
	margin-bottom: 45px;
}
.header_logo{
	width: 78px;
	height: 67px;
	padding-top: 120px;
	margin: 0 auto;
}
.header_logo img{
	width: 78px;
	height: 67px;
	margin: 0 auto;
}
.content{
	width: 100%;
	height: auto;
	background-color: #fff;
	padding: 12px;
	margin-bottom: 30px;
	box-shadow: 0 0 1px #8a8a8a;
}
.main{
	margin-top: 90px;
}
.imgbox{
	width: 100%;
	height: auto;
	padding-top: 62.57%;
	position: relative;
}
.imginner{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
.imginner img{
	width: 100%;
}
.title{
	font-size: 24px;
	color: #777;
	height: 30px;
	line-height: 30px;
	text-align: center;
}
.footer{
	width: 100%;
	padding-top: 35px;
	background-color: #202020;
	margin: 0 auto;
}
.bottom_item{
	width: 100%;
	height: auto;
	padding: 0 30px 0px 30px;
	margin-bottom: 35px;
	position: relative;
	float: left;
}
.bottom_item_title{
	width: 100%;
	height: auto;
	margin-bottom: 21px;
	position: relative;
}
.bottom_item_title h1{
	line-height: 27px;
	font-size: 18px;
	color: #fff;
	border-bottom: 1px solid #303030;
}
/* .bottom_title after{
	content: "";
	width: 90px;
	height: 1px;
	background: #337ab7;
	position: absolute;
	left: 0;
	bottom: -1px;
	/* display: block; */
/* 	clear: both;
	z-index: 2;
}  */
.bottom_item_weizi{
	width: 100%;
	height: auto;
	float: left;
}
.bottom_item_weizi h2{
	font-size: 14px;
	color: #959595;
	line-height: 21px;
	padding: 2px 7px;
	margin: 0 7px 7px 0;
	border: 1px solid #303030;
	float: left;
}
.bottom_item_weizi h3{
	font-size: 14px;
	color: #959595;
	line-height: 21px;
	padding: 2px 7px;
	margin: 0 7px 7px 0;
	float: left;
}